<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>validAddDepart</servlet-name>
        <servlet-class>Depatservlets.validAddDepart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validUpdateDept</servlet-name>
        <servlet-class>Depatservlets.validUpdateDept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>validDeactDept</servlet-name>
        <servlet-class>Depatservlets.validDeactDept</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>beforeUpdateDepart</servlet-name>
        <servlet-class>Depatservlets.beforeUpdateDepart</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>beforeDeactDepart</servlet-name>
        <servlet-class>Depatservlets.beforeDeactDepart</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>validAddDepart</servlet-name>
        <url-pattern>/validAddDepart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validUpdateDept</servlet-name>
        <url-pattern>/validUpdateDept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>beforeUpdateDepart</servlet-name>
        <url-pattern>/beforeUpdateDepart</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>validDeactDept</servlet-name>
        <url-pattern>/validDeactDept</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>beforeDeactDepart</servlet-name>
        <url-pattern>/beforeDeactDepart</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
